<a href="https://colab.research.google.com/github/Sadekeen20/fetch-data-from-csv-to-excel-in-python/blob/main/Data_from_CSV_to_XLSX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Directly Put to Excel from Dataframe !

In [3]:

# df = pd.read_csv("personal data.csv")
# x=df.columns
import pandas as pd
import openpyxl
! wget https://raw.githubusercontent.com/Sadekeen20/fetch-data-from-csv-to-excel-in-python/main/personal%20data.csv
df = pd.read_csv("personal data.csv")

df.to_excel('personal_data.xlsx', sheet_name='new_sheet_name')

--2021-10-10 09:31:15--  https://raw.githubusercontent.com/Sadekeen20/fetch-data-from-csv-to-excel-in-python/main/personal%20data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 227 [text/plain]
Saving to: ‘personal data.csv.2’

personal data.csv.2 100%[===================>]     227  --.-KB/s    in 0s

2021-10-10 09:31:15 (16.5 MB/s) - ‘personal data.csv.2’ saved [227/227]

Df to Workbook

In [4]:
# try 1- copy - successful 
# dataframe to worksheet
# https://openpyxl.readthedocs.io/en/stable/tutorial.html #src
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows

df = pd.read_csv("personal data.csv")

wb = Workbook()
ws = wb.active

for r in dataframe_to_rows(df, index=False, header=True):
    ws.append(r)

for cell in ws['A'] + ws[1]:
    cell.style = 'Pandas'

wb.save("pandas_openpyxl.xlsx")

workbook to df

In [5]:
#read from worksheet to dataframe
import pandas as pd
import numpy as np

from openpyxl import load_workbook
wb = load_workbook(filename = 'personal_data.xlsx')
#wb = Workbook("personal_data.xlsx")
ws = wb.active

from itertools import islice
data = ws.values

cols = next(data)[1:]
data = list(data)
idx = [r[0] for r in data]
data = (islice(r, 1, None) for r in data)
df1 = pd.DataFrame(data, index=idx, columns=cols)
df1.head()

   Roll  Age        DOB  CGPA
0     1   17  3/14/2004  3.60
1     2   18  3/15/2003  3.50
2     3   18  3/16/2003  3.61
3     4   18  3/17/2003  3.62
4     5   18  3/18/2003  3.63